body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    transition: background-color 0.3s;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

#like-button {
    background-color: #FF4500;
}

#like-button:hover {
    background-color: #FF6347;
}

#theme-toggle {
    background-color: #007BFF;
}

#theme-toggle:hover {
    background-color: #0056b3;
}

#search {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-results {
    margin-top: 20px;
    text-align: left;
}

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

:root {
    --background-color: #f0f8ff;
    --text-color: #000;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #fff;
}

body, p, h1 {
    color: var(--text-color);
    transition: color 0.3s;
}
